{% extends "layout.html" %}

{% block content %}

<div class="container mt-5 pt-5">

    <div class="row">

        <div class="col-lg-8">

            <h2 class="mb-4">
                🛒 Mi Carrito
            </h2>

            <div id="lista-carrito">

                <!-- Aquí JavaScript agregará los productos -->

            </div>

        </div>

        <div class="col-lg-4">

            <div class="card shadow resumen-carrito">

                <div class="card-body">

                    <h3>Resumen del pedido</h3>

                    <hr>

                    <p>
                        Productos:
                        <span id="cantidad-productos">0</span>
                    </p>

                    <h4 id="total-carrito">

                        Total: $0

                    </h4>

                    <button class="btn btn-principal w-100 mt-4">

                        Finalizar Compra

                    </button>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}