{% extends "layout.html" %}

{% block content %}

<div class="container mt-5 pt-5">

    <h1 class="text-center mb-5">

        🍪 Catálogo

    </h1>

    <div class="row">

        {% for producto in productos %}

        <div class="col-md-4 mb-4">

            <div class="card producto">

                <img src="{{ url_for('static', filename='img/' + producto.imagen) }}">

                <div class="card-body">

                    <h4>

                        {{ producto.nombre }}

                    </h4>

                    <p>

                        {{ producto.descripcion }}

                    </p>

                    <h5>

                        $ {{ producto.precio }}

                    </h5>

                    <button class="btn btn-principal w-100">

                        🛒 Agregar

                    </button>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}