{% extends "layout.html" %}

{% block content %}

<div class="container mt-5 pt-5">

    <h1 class="text-center">
        🍪 Catálogo de Productos
    </h1>

    <div class="row mt-5">

        <div class="col-md-4">

            <div class="card shadow">

                <img src="https://images.unsplash.com/photo-1499636136210-6f4ee915583e?w=600"
                     class="card-img-top">

                <div class="card-body">

                    <h4>Chocolate Chips</h4>

                    <p>
                        Deliciosas galletas con chispas de chocolate.
                    </p>

                    <h5>$8.000</h5>

                    <button class="btn btn-primary w-100">

                        Agregar al carrito

                    </button>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}